body {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.header {
    font-size: 48px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;

    text-align: center;

    margin-bottom: 10px;
}

.contents {
    
}

.win {
    visibility: hidden;
    
    font-family:'Courier New', Courier, monospace;
    font-weight: 800;
    color: red;

    font-size: 48px;

    text-align: center;
    padding-top: 225px;

    position: absolute;
    z-index: 10;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);

    width: 600px;
    height: 300px;
    
}

.opponent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
}

.human {
    font-size: 36px;
    background-color: aquamarine;
    width: auto; 
    justify-content: center; 
}

.computer {
    font-size: 36px;
    background-color: aquamarine;
    width: auto; 
    justify-content: center; 
}

.reset {
    display: flex;
    justify-content: center;

    padding-top: 100px;
}

.reset > .resetBtn {
    width: 150px;
    height: 36px;

    font-size: 24px;
}